// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-icon {
    &[class*="id-found-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="id-found-cni"] {
        mask-image: url(../assets/imgs/icons/cni.svg);
    }
    &[class*="id-found-passport"] {
        mask-image: url(../assets/imgs/icons/passport.svg);
    }
    &[class*="id-found-sejour"] {
        mask-image: url(../assets/imgs/icons/sejour.svg);
    }
    &[class*="id-found-qr-code"] {
        mask-image: url(../assets/imgs/icons/qr-code.svg);
    }
    &[class*="id-found-entree"] {
        mask-image: url(../assets/imgs/icons/entree.svg);
    }
    &[class*="id-found-sortie"] {
        mask-image: url(../assets/imgs/icons/sortie.svg);
    }
    &[class*="id-found-acte"] {
        mask-image: url(../assets/imgs/icons/acte.svg);
    }
    &[class*="id-found-driver-license"] {
        mask-image: url(../assets/imgs/icons/driver-license.svg);
    }

}



.content-md{
    background-color: rgb(255, 248, 205);
}

.bck{
    background-color: rgb(255, 248, 205);
    color: green;
    text-align: center;
    font-size: 15px;
}

.logo{
    margin-top: 100px;
    padding: 10px;
}
.logo img{
    border: 5px solid rgba(0, 128, 0, 0.418);
    border-radius: 60px;
    width: 30%;
}